@model Lets_Share.ViewModels.ItemsViewModel


<div class="container">
    <div class="mt-5">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <div class="card bg-light mt-4" style="width: 18rem;">
                    <div class="card-body">
                        <div class="col text-center">
                            <h5 class="card-title">Adicione novos itens!</h5>
                            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#addItems">Adicionar</button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="addItems" role="dialog" data-keyboard="false" data-backdrop="static">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Cadastro de Item</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                    </div>
                                    <form method="post" asp-controller="Home" asp-action="Items">
                                        <div class="modal-body">


                                            <div asp-validation-summary="All"></div>

                                            <div class="form-group">
                                                <label asp-for="Item.Name">Nome</label>
                                                <input class="form-control" placeholder="Nome do item" asp-for="Item.Name" />
                                                <span asp-validation-for="Item.Name"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Item.Description">Descrição</label>
                                                <input class="form-control" placeholder="Descrição do item" asp-for="Item.Description" />
                                                <span asp-validation-for="Item.Description"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Item.Available">Este item está disponível?</label>
                                                <select class="form-control" asp-for="Item.Available">
                                                    <option value="">Escolha a opção</option>
                                                    <option value="true">Sim</option>
                                                    <option value="false">Não</option>
                                                </select>
                                                <span asp-validation-for="Item.Available"></span>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Enviar</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="mt-5">
        <div class="row">
            @foreach (var itm in Model.Items)
            {
            <div class="col-md-4">
                <div class="card mt-4 bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title">@itm.Name</h5>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
