@model Lets_Share.Models.AddItem
@{
    ViewBag.Title = "Delete";
}
<!-- Modal -->
<div class="container">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cadastro de Item</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <form method="post" asp-controller="Item" asp-action="Delete">
                <div class="modal-body">


                    <div asp-validation-summary="All"></div>

                    <div class="form-group">
                        <label asp-for="Name">Nome</label>
                        <input class="form-control" placeholder="Nome do item" asp-for="Name" />
                        <span asp-validation-for="Name"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description">Descrição</label>
                        <input class="form-control" placeholder="Descrição do item" asp-for="Description" />
                        <span asp-validation-for="Description"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AvailableRent">Este item está disponível para alugar?</label>
                        <select class="form-control" asp-for="AvailableRent">
                            <option value="">Escolha a opção</option>
                            <option value="true">Sim</option>
                            <option value="false">Não</option>
                        </select>
                        <span asp-validation-for="AvailableRent"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AvailableBorrow">Este item pode ser emprestado?</label>
                        <select class="form-control" asp-for="AvailableBorrow">
                            <option value="">Escolha a opção</option>
                            <option value="true">Sim</option>
                            <option value="false">Não</option>
                        </select>
                        <span asp-validation-for="AvailableBorrow"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Remover</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>

    </div>
</div>

