@model Lets_Share.ViewModels.ItemsViewModel
@{
    ViewBag.Title = "Edit";
}
<div class="modal-dialog">
    <div class="modal-content">
        <h1>teste</h1>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

