@model Lets_Share.ViewModels.ItemsViewModel

@{ ViewBag.Title = "Rents"; }

<form method="post" asp-controller="Item" asp-action="Rent" class="form-inline my-2 my-lg-0 justify-content-end">
    <input asp-for="Search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<div class="container">
    <div class="mt-5">
        <div class="row">
            @foreach (var itm in Model.Items)
            {
<div class="col-md-4">
    <div class="card mt-4 bg-light">
        <div class="card-body">
            <div class="col text-center">
                <h5 class="card-title">@itm.Name</h5>
            </div>
        </div>
    </div>
</div>      }
        </div>
    </div>
</div>

